# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

GOOGLE_LOGIN_INSTRUKSI.txt
BACKEND_GOOGLE_OAUTH.md
BACKEND_GOOGLE_LOGIN_REQUIRED.md
SETUP_GOOGLE_LOGIN.md
GOOGLE_OAUTH_SETUP.md
components.json

# env files (can opt-in for commiting if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
